body {
/*  background: #006680;*/
/*    background: #00ffff;*/
      background: #007399;
}

/*
.card {
  font-family: inherit;
  width: 100px;
  height: 100px;
  background: white;
  animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
  0%   {transform: scale(.8);}
  100% {transform: scale(1.5);}
}*/

.card {
  margin-top: 5%;
  margin-bottom: -10%;
  font-family: monospace;
  width: 250px;
  height: 300px;
  border-top: dashed black;
  border-bottom: dashed black;
  border-left: dashed black;
  border-right: dashed black;
  border-radius: 5%;
  color: black;
  background: white;
  animation: nice 4s alternate ease-in infinite;
}

@keyframes nice {
  0% {transform: translate3d(0,300px,0);}
  50% {transform: translate3d(0,200px,0);}
  70% {transform: translate3d(0,200px,0);}
  100% {transform: translate3d(0,100px,0);}
}
.card2 {
  font-family: monospace;
  width: 250px;
  height: 300px;
  border-radius: 5%;
  color: lime;
  background: black;
/*  animation: nice 4s alternate ease-in infinite;*/
}
/*
@keyframes nice {
  0% {transform: translate3d(0,300px,0);}
  50% {transform: translate3d(0,200px,0);}
  70% {transform: translate3d(0,200px,0);}
  100% {transform: translate3d(0,100px,0);}
}
*/
button {
  background: #006680;
  font-size: 20px;
  font-family: monospace;
  border-radius: 10%;
  color: white;
  margin-top: 2px;
}
